/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
  max-width: 700px;
  margin-inline: auto;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin-inline: auto;
}

button {
  cursor: pointer;
  border: 1px solid grey;
}

ul {
  list-style: none;
}

form input {
  width: 100%;
}
form input[type="text"],
form input[type="number"] {
  padding: 0.6rem;
}

form input[type="text"],
form input[type="number"],
form input[type="file"] {
  margin-block: 0.6rem;
}

form input[type="submit"] {
  padding: 0.5rem;
  margin-top: 0.7rem;
  cursor: pointer;
}

.error-mssg {
  font-size: 0.8rem;
}

.error-mssg + input[type="text"] {
  border: 1px solid crimson;
}
